h1 {
    text-align: center;
    color: cornflowerblue;
  }

img {
  margin: 10px;
  width: 40vw;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;

}

nav li {
  display: inline;
  margin-right: 25px;
  
}

nav a {
  color: aliceblue;
  font-size: 1.5em;
 
}

nav a:hover {
  color: crimson;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

h2 {
  color: rgb(93, 202, 202);
}